@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Century Gothic', 'Segoe UI', Arial, sans-serif;
  background-color: $white;
  color: $black;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__workspace {
    display: flex;
    flex-direction: column;
    max-width: 970px;
    width: 100%;
    gap: 10px;
    padding: 20px 0 40px 0;

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  &__box {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    gap: 30px;
  }
}
