@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Century Gothic', 'Segoe UI', Arial, sans-serif;
  background-color: $white;
  color: $black;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__workspace {
    display: flex;
    flex-direction: column;
    max-width: 970px;
    width: 100%;
    gap: 10px;
    padding: 20px 0 0 0;

    @media (max-width: 1373px) {
      max-width: 1373px;
      width: calc(100vw - 100px);
    }
  }

  &__box {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    @media (max-width: 1373px) {
      padding: 0 50px 40px 50px;
      gap: 0;
      justify-content: center;
    }
  }
}
