@use '../../../../app/styles/variables.scss' as *;

.fps-control {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $white;
  font-weight: 700;

  &__arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    height: 24px;
    cursor: pointer;
  }

  &__arrow {
    width: 10px;
    height: 10px;
    user-select: none;

    &--down {
      transform: rotate(180deg);
    }
  }

  &__input {
    height: 28px;
    padding: 0 7px;
    border: 2px solid $white;
    border-radius: 8px;
    text-align: center;
    background: transparent;
    color: $white;
    font-weight: 700;
    outline: none;

    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__desc {
    color: $white;
    font-weight: 700;
  }
}
