@use '../../../../app/styles/variables.scss' as *;
@use 'sass:color';

.player {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: calc(90vw / 16 * 9 + 60px);
  max-height: 634px;
  max-width: 1020px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    background: $blue;
    font-weight: 700;
    font-size: 20px;
    z-index: 2;
  }

  &__settings {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 50px;

    &__fps {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $white;
      font-weight: 700;

      &__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        height: 24px;
      }

      &__arrow--up,
      &__arrow--down {
        width: 11px;
        height: 6px;
        user-select: none;
        cursor: pointer;
      }

      &__arrow--down {
        transform: rotate(180deg);
      }

      &__value {
        display: flex;
        align-items: center;
        height: 34px;
        padding: 0 7px;
        border: 2px solid $white;
        border-radius: 10px;
        color: $white;
        font-weight: 700;

        input {
          line-height: 1;
          border: none;
          background: transparent;
          width: 40px;
        }
      }

      &__desc {
        color: $white;
        font-weight: 700;
      }
    }

    &__export {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &__btn {
        all: unset;
        line-height: 1;
        height: 34px;
        padding: 0 15px;
        background: $white;
        color: $blue;
        border-radius: 8px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        transition: all 0.1s ease-in-out;
        display: flex;
        align-items: center;
        user-select: none;

        &:hover {
          scale: 1.02;
        }

        &:disabled {
          opacity: 0.7;
          pointer-events: none;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  &__close {
    display: flex;
    align-items: center;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
      scale: 1.1;
    }

    img {
      width: 32px;
      height: 32px;
      user-select: none;
      cursor: pointer;
    }
  }

  &__body {
    height: calc(100% - 60px);
    background: $clear-white;
    position: relative;
    z-index: 1;

    &__inner {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__play {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 64px;
      height: 64px;
      background-image: url('../../../../assets/play.svg');
      cursor: pointer;
      user-select: none;
    }

    &__stop {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 64px;
      height: 64px;
      color: $white;
      background-image: url('../../../../assets/stop.svg');
      cursor: pointer;
      user-select: none;
    }
  }
}
