@use '../../../../app/styles/variables.scss' as *;

.player {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: calc(90vw / 16 * 9 + 60px);
  max-height: 634px;
  max-width: 1020px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    background: $blue;
    font-weight: 700;
    font-size: 20px;
  }

  &__settings {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 50px;

    &__fps {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $white;
      font-weight: 700;

      &__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        height: 24px;
      }

      &__arrow--up,
      &__arrow--down {
        width: 11px;
        height: 6px;
        user-select: none;
        cursor: pointer;
      }

      &__arrow--down {
        transform: rotate(180deg);
      }

      &__value {
        display: flex;
        align-items: center;
        height: 34px;
        padding: 0 7px;
        border: 2px solid $white;
        border-radius: 10px;
        color: $white;
        font-weight: 700;

        input {
          line-height: 1;
          border: none;
          background: transparent;
          width: 40px;
        }
      }

      &__desc {
        color: $white;
        font-weight: 700;
      }
    }

    &__export {
      display: inline-flex;
      align-items: center;
      height: 34px;
      padding: 0 15px;
      background: $white;
      color: $blue;
      border-radius: 8px;
      font-weight: 700;
      cursor: pointer;

      span {
        line-height: 1;
      }
    }
  }

  &__close {
    display: flex;
    align-items: center;
    margin-right: 10px;

    img {
      width: 32px;
      height: 32px;
      user-select: none;
      cursor: pointer;
    }
  }

  &__body {
    height: 100%;
    background: $clear-white;
    position: relative;

    &__inner {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      background: rgba($color: $blue, $alpha: 0.7);
      color: $white;
      font-weight: 700;
      border-radius: 8px;
      cursor: pointer;
      user-select: none;
    }
    &__stop {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px 20px;
      background: rgba($color: red, $alpha: 0.7);
      color: $white;
      font-weight: 700;
      border-radius: 8px;
      cursor: pointer;
      user-select: none;
    }
  }
}
