@use '../../../../app/styles/variables.scss' as *;

.canvas {
  width: 100%;
  height: 546px;
  background-color: $clear-white;
  position: relative;
  border: 3px solid $blue;
  border-radius: 20px;
  overflow: hidden;

  &__board {
    background: #fff;
    cursor: crosshair;
    width: 100%;
    height: 100%;
  }

  &__clear-frame-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}
